<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,190},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,190},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{300,190},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,380},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,380},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{300,380},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,570},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,570},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{300,570},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,760},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,760},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{300,760},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,950},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,950},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{300,950},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{0,1140},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,190}</string>
                <key>spriteSourceSize</key>
                <string>{150,190}</string>
                <key>textureRect</key>
                <string>{{150,1140},{150,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{450,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c4d2d6e4c90d6ff9e66c31361af4c3:b0c48ea2bc378c43134964f044705e00:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
