<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,0},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,202},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,202},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,404},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,404},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,606},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,606},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,808},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,808},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,1010},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,1010},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,1212},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,1212},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,1414},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,1414},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,1616},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,1616},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{0,1818},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,202}</string>
                <key>spriteSourceSize</key>
                <string>{243,202}</string>
                <key>textureRect</key>
                <string>{{243,1818},{243,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{486,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb2a0aec3f751f4f57ffbd4e18359a25:1b728eacacc81db8c33eb3f9b82fb07c:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
