<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{288,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{576,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{864,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1152,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1440,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1728,0},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{0,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{288,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{576,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{864,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1152,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1440,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1728,429},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{0,858},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{288,858},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{576,858},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{864,858},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1152,858},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,429}</string>
                <key>spriteSourceSize</key>
                <string>{288,429}</string>
                <key>textureRect</key>
                <string>{{1440,858},{288,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{2016,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dafef8703801aafbe7d4b615ef1f81c1:275c791712f0cc4f588273d17a50f54f:5caa1d6f923edb74bd21e593a1751239$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
