<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160502_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{1500,0},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{0,628},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{300,628},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{600,628},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{900,628},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{1200,628},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160502_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,628}</string>
                <key>spriteSourceSize</key>
                <string>{300,628}</string>
                <key>textureRect</key>
                <string>{{1500,628},{300,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tx.png</string>
            <key>size</key>
            <string>{1800,1256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84d259b9b9c1f74d5eba7fe0f81c7db6:04a1011076f65e6ca4978099cdac2007:dae6cf82ca75e5d22f887a10abf4a258$</string>
            <key>textureFileName</key>
            <string>tx.png</string>
        </dict>
    </dict>
</plist>
