<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chitong_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{0,425},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{500,425},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1000,425},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1500,425},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{0,850},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{500,850},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1000,850},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1500,850},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{0,1275},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{500,1275},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1000,1275},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chitong_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,425}</string>
                <key>spriteSourceSize</key>
                <string>{500,425}</string>
                <key>textureRect</key>
                <string>{{1500,1275},{500,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>t_idle.png</string>
            <key>size</key>
            <string>{2000,1700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae88141f8389ca312c39e0b0485ef0d3:6a4c90ad00bf46f13dfdffc6788cb170:1fd7680a7059a688f74d3561ccd9f90e$</string>
            <key>textureFileName</key>
            <string>t_idle.png</string>
        </dict>
    </dict>
</plist>
