<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,0},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,0},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,204},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,204},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,408},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,408},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,612},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,612},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,816},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,816},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,1020},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,1020},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,1224},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,1224},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,1428},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,1428},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,1632},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,1632},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{0,1836},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,204}</string>
                <key>spriteSourceSize</key>
                <string>{221,204}</string>
                <key>textureRect</key>
                <string>{{221,1836},{221,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{442,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7d18c9ee406ecd1cde2141e1be9db5b:659d10526fe45e5d11d247dc1c1e5bb6:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
