<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_0_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{0,0},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{281,0},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{562,0},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{0,292},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{281,292},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{562,292},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{0,584},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{281,584},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{562,584},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{0,876},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{281,876},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{562,876},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{0,1168},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{281,1168},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{562,1168},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{0,1460},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{281,1460},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,292}</string>
                <key>spriteSourceSize</key>
                <string>{281,292}</string>
                <key>textureRect</key>
                <string>{{562,1460},{281,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{843,1752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4172d6a26be92d9019691d00667c3d4:4d17209cd14f266a8c21f95e6610f7cf:5caa1d6f923edb74bd21e593a1751239$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
