<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duanzao.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,162},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guangbiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{148,158}</string>
            </dict>
            <key>jiaose.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,294},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>maoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{133,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,130}}</string>
                <key>sourceSize</key>
                <string>{133,130}</string>
            </dict>
            <key>tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{129,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>sourceSize</key>
                <string>{129,120}</string>
            </dict>
            <key>tujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>navigation.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d68f7efd5fd9c0f851cef03caa17d3:1/1$</string>
            <key>textureFileName</key>
            <string>navigation.png</string>
        </dict>
    </dict>
</plist>
