<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{460,0},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{690,0},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{0,351},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{230,351},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{460,351},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{690,351},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{0,702},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{230,702},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{460,702},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{690,702},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{0,1053},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{230,1053},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{460,1053},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{690,1053},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{0,1404},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{230,1404},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{460,1404},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_2_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,351}</string>
                <key>spriteSourceSize</key>
                <string>{230,351}</string>
                <key>textureRect</key>
                <string>{{690,1404},{230,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{920,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb182a4b7f5c40d89403a3bc6452487:59eec78a788811e81e0d9c5117322573:5caa1d6f923edb74bd21e593a1751239$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
