<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>icon_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,603},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>icon_xiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>icon_xie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>icon_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,437},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>icon_yifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,437},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>tuceng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,288},{267,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,147}}</string>
                <key>sourceSize</key>
                <string>{267,147}</string>
            </dict>
            <key>tuceng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>xianglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>xie.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,276},{254,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,272}}</string>
                <key>sourceSize</key>
                <string>{254,272}</string>
            </dict>
            <key>yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{272,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,272}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>yifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,311}}</string>
                <key>sourceSize</key>
                <string>{326,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2c13e2c8df347de2129f1aa0439be32:1/1$</string>
            <key>textureFileName</key>
            <string>equip.png</string>
        </dict>
    </dict>
</plist>
