<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{0,0},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{216,0},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{432,0},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{648,0},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{0,213},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{216,213},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{432,213},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{648,213},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{0,426},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{216,426},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{432,426},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{648,426},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{0,639},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{216,639},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{432,639},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{648,639},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{0,852},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{216,852},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{432,852},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,213}</string>
                <key>spriteSourceSize</key>
                <string>{216,213}</string>
                <key>textureRect</key>
                <string>{{648,852},{216,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{864,1065}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:617bd9b5cc6e94c2ac5b2490d0688caf:f27d831da498c50606a3ce5de822f928:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
