<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{0,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{204,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{408,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{612,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{816,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1020,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1224,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1428,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1632,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1836,0},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{0,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{204,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{408,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{612,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{816,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1020,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1224,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1428,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1632,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,219}</string>
                <key>spriteSourceSize</key>
                <string>{204,219}</string>
                <key>textureRect</key>
                <string>{{1836,219},{204,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{2040,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12052b3759c5baeb86da22eedac09807:94b30fbe9fbf66e066d4f13340c7fcd1:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
