<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>161002_ui-idle_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{0,392},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{500,392},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1000,392},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1500,392},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{0,784},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{500,784},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1000,784},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1500,784},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{0,1176},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{500,1176},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1000,1176},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>161002_ui-idle_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,392}</string>
                <key>spriteSourceSize</key>
                <string>{500,392}</string>
                <key>textureRect</key>
                <string>{{1500,1176},{500,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>t_idle.png</string>
            <key>size</key>
            <string>{2000,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca286c5b1f4c9e2240a18d97cf85216:f806863da04847f7578bafb958536290:1fd7680a7059a688f74d3561ccd9f90e$</string>
            <key>textureFileName</key>
            <string>t_idle.png</string>
        </dict>
    </dict>
</plist>
