<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_0_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{0,411},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{200,411},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{400,411},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{600,411},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{800,411},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{0,822},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{200,822},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{400,822},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{600,822},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_0_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,411}</string>
                <key>spriteSourceSize</key>
                <string>{200,411}</string>
                <key>textureRect</key>
                <string>{{800,822},{200,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skin.png</string>
            <key>size</key>
            <string>{1000,1233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd2aa3741ad857b11412153721d15263:8f64c7b1ec4e203d63b8d1e376a55dae:5caa1d6f923edb74bd21e593a1751239$</string>
            <key>textureFileName</key>
            <string>skin.png</string>
        </dict>
    </dict>
</plist>
