<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,0},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,0},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,199},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,199},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,398},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,398},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,597},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,597},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,796},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,796},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,995},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,995},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,1194},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,1194},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,1393},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,1393},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,1592},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,1592},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{0,1791},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,199}</string>
                <key>spriteSourceSize</key>
                <string>{238,199}</string>
                <key>textureRect</key>
                <string>{{238,1791},{238,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{476,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80565136ae8215e00ec407c16c1a7354:4c48c4b117d31350c1d4eec3cbaea37b:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
