<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160501_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{0,652},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{300,652},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{600,652},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{900,652},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>160501_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,652}</string>
                <key>spriteSourceSize</key>
                <string>{300,652}</string>
                <key>textureRect</key>
                <string>{{1200,652},{300,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tx.png</string>
            <key>size</key>
            <string>{1500,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2ebac0115179e81adff54ea13e8f4f:030cd2cedf0b997b469f60a93f1dd8ad:dae6cf82ca75e5d22f887a10abf4a258$</string>
            <key>textureFileName</key>
            <string>tx.png</string>
        </dict>
    </dict>
</plist>
